@charset "utf-8";
/* CSS Document */
body {
    font-family: Tahoma, Arial,serif;
    font-size:0.8em;
}
#navfloat {
	width:100%;
	height: 20px;
	background-color:#CCC;
	border-bottom:1px outset #666;
	position:fixed;
	left:0px;
	top:0px;
	padding-top:5px;
	z-index:2;
}
#container {
	width:100%;
	margin: 0 auto;
	position:relative;
	top:25px;
}
#header {
	height:50px;
        font-size:1.3em;
}
#reporttitle {
	position:absolute;
	top:30px;
	color:#16A6BD;
	right:10px;
	font-size:1.4em;
}
input {
	font-size:1em;
}
#container {
	margin:0 auto;
	font-size:1em;
}
table {
	font-family:Tahoma;
	font-size:1em;
}
#container select, #container input {
	width:200px;
}
table.data td {
	text-align:center;
}
#actionpanel {
	width:200px; 
	height:80px; 
	position:absolute;
	right:10px; 
	background-color:#FFF; 
	border:1px solid #30C;
	text-align:left;
	padding:10px;
	display:none;
}

a:link {
	color:#00F;
}

a:visited {
	color:#00F;
	text-decoration:none;
}
a:hover {
	color:#39F;
	text-decoration:underline;
}
#actionpanel span {
	color:#00F;
}
#actionpanel span:hover {
	color:#39F;
	cursor:pointer;
}
span.closepanel a{
	font-family:Tahoma;
	font-size:1em;
}
.closepanel {
	
	cursor:pointer;
	position:absolute;
	right:10px;
	top:5px;
}
.panels {
	width:400px;
	height:200px;
	position:absolute;
	border:1px solid #00f;
	left: 259px;
	top: 138px;
	background-color:#fff;
	font-family:Tahoma;
	font-size:1em;
	padding:10px;
}
#panel1 {
	display:none;
}
#panel2 {
	display:none;
}
#panel3 {
	width:702px;
	height:440px;
	position:absolute;
	display: none;
	border:1px solid #00f;
	left: 274px;
	top: 105px;
	background-color:#fff;
	font:Tahoma;
	font-size:1em;
	padding:10px;
	
}
#leaddetail {
	width:700px;
	font:Tahoma;
}
#leaddetail input, #leaddetail textarea {
	font-family:Tahoma;
	font-size:1em;
}
tr.entry:hover {
	background-color:#00C;
	color:#FFF;
	cursor:pointer;
}
#ld {
	position:absolute;
	width: 703px;
	height: 347px;
	left: 13px;
	top: 42px;
}
#cd {
	position:absolute;
	width: 437px;
	height: 189px;
	left: 147px;
	top: 117px;
	display: none;
	background-color:#FFF;
	border:1px solid #39F;
	padding:10px;

}
.ui-widget {
	font-family: Tahoma;
	font-size: 1em;
}
.tableheader {
	background-color:#333;
	font-weight:normal;
	font-size:10pt;
	color:#0CC;
        min-width:80px;
}
.tableitem {
	font-weight:normal;
	background-color:#FFF;
	font-size:0.9m;
	color:#000;
        text-align: right;
}
.tableitem_ {
	font-weight:normal;
	background-color:#F0F0F0;
	color:#000;
        text-align: right;
}
.ui-widget-header {
	background-image:url(../images/bgslate.gif);
}
#dateh {
    width: 80px;
    display:block;
}
#agenth {
    width:100px;
    display:block;
}
#summary,#results,#resultsagent {
}